<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.yourcompany.DeviceMetricsWidget</string>
    <key>CFBundleName</key>
    <string>DeviceMetricsWidget</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.widget-extension</string>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>widgetFamily</key>
            <array>
                <string>systemSmall</string>
                <string>systemMedium</string>
                <string>systemLarge</string>
            </array>
        </dict>
    </dict>
</dict>
</plist>